<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
             <h1>Error</h1>
                <div class="alert alert-danger">
                  {{Error}} 
                </div>
            </div>
        </div>
    </body>
</html>