<div class="alert alert-secondary">
 <a href="/peliculas" class="text-decoration-none"> Listado de peliculas </a>
 &nbsp;&nbsp;
 <a href="/peliculas/nuevo" class="text-decoration-none"> Nueva pelicula </a>
</div>

