<html>
    <head>
      <link  rel="stylesheet"  href="/css/bootstrap.min.css"/>
       <title> {% block titulo %}  {% endblock%} </title>
    </head>
    <body>
    {% include "public_menu.njk" %}
        <div class="container">
           {% block contenido %}
             {% endblock%} 
        </div>
    </body>
</html>